<div class="back">
  <div class="field_set">
    <h1>日記の編集</h1>
  </div>

  <%= render 'form', diary: @diary %>

  <div class="btn">
    <%= link_to '詳細', @diary %> |
    <%= link_to '戻る', diaries_path %>
  </div>
</div>